<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- navigation -->
		<%- include('./partial/navigation.ejs') %>

		<h1>Signup Page</h1>

		<form action="http://localhost:8000/api/auth/signup" method="post">
			<input
				type="text"
				name="username"
				placeholder="Username"
				autocomplete="off"
			/>
			<input
				type="text"
				name="password"
				placeholder="Password"
				autocomplete="off"
				value="user1234"
			/>
			<input
				type="text"
				name="email"
				placeholder="Email"
				autocomplete="off"
				value="user@email.com"
			/>

			<select name="gender">
				<option value="not-set" selected>Gender</option>
				<option value="female">Male</option>
				<option value="male">Female</option>
			</select>

			<button type="submit">Signup</button>
		</form>
	</body>
</html>
